<!DOCTYPE html>
<html>

<head>
    <title>404 Error</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div>
            <P style="color: red; font-size:15px;">{{message}}</P>
        </div>
    </div>



    {{>footer}}
</body>

</html>