<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
    
</head>


<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input type="text" placeholder="City name" />
            <button>Search</button>
        </form>
        <p id="MsgOne"></p>
         <p id="MsgTwo"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js">
    </script>
</body>

</html>